@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNext-Regular/AvenirNext-Regular.eot");
	src: local('☺'), url("../fonts/AvenirNext-Regular/AvenirNext-Regular.woff") format("woff"), url("../fonts/AvenirNext-Regular/AvenirNext-Regular.ttf") format("truetype"), url("../fonts/AvenirNext-Regular/AvenirNext-Regulard41d.eot?#iefix")format("embedded-opentype");
	font-weight: 400;
}

@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.eot");
	src: local('☺'), url("../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.woff") format("woff"), url("../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.ttf") format("truetype"), url("../fonts/AvenirNext-DemiBold/AvenirNext-DemiBoldd41d.eot?#iefix")format("embedded-opentype");
	font-weight: 700;
}

@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNext-Bold/AvenirNext-Bold.eot");
	src: local('☺'), url("../fonts/AvenirNext-Bold/AvenirNext-Bold.woff") format("woff"), url("../fonts/AvenirNext-Bold/AvenirNext-Bold.ttf") format("truetype"), url("../fonts/AvenirNext-Bold/AvenirNext-Boldd41d.eot?#iefix")format("embedded-opentype");
	font-weight: 800;
}

@font-face {
	font-family: 'RussoOne';
	src: url("../fonts/Russo_One/Russo_One.eot");
	src: local('☺'), url("../fonts/Russo_One/Russo_One.woff") format("woff"), url("../fonts/Russo_One/Russo_One.ttf") format("truetype"), url("../fonts/Russo_One/Russo_Oned41d.eot?#iefix")format("embedded-opentype");
	font-weight: normal;
}

/* CSS Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: separate;
	border-spacing: 3px;
}

/* End of CSS Reset */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font-size: 18px;
	line-height: 1.4;
	font-family: 'Avenir', sans-serif;
	font-weight: 700;
	color: #ffedc2;
	background: #0d0b0e;
	background-image: url("../images/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*animation: bluring 3s infinite linear;*/
}

body.inner {
	background-image: url("../images/bg-inner.jpg");
}

body.soon {
	width: 100%;
	height: 100%;
	background-color: #000;
	background: url("../images/soon.jpg") center center no-repeat;
	background-size: cover;
}

p {
	margin: 0 0 15px;
}

img {
	border: none;
}

input {
	outline: none;
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: 'RussoOne';
	background: linear-gradient(#ffdc87, #ff5400);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-ms-background-clip: text;
	-o-background-clip: text;
	background-clip: text;
	color: transparent;
}

h1 {
	font-size: 60px;
	background: linear-gradient(#fcdb4e, #ff5400);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-ms-background-clip: text;
	-o-background-clip: text;
	background-clip: text;
	color: transparent;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 44px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 18px;
}

a {
	cursor: pointer;
}

.row {}

.row:after {
	clear: both;
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
	display: table;
	content: '';
}

.container {
	width: 1240px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: underline;
	color: #fff;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

a:hover {
	text-decoration: none;
}

a.close {
	display: block;
	width: 20px;
	height: 20px;
	background-color: #f00;
	border-radius: 100%;
	position: relative;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

a.close:before {
	content: '';
	width: 14px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 3px;
	margin-top: -1px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

a.close:after {
	content: '';
	width: 14px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	right: 3px;
	margin-top: -1px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

a.close:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

input, select, button {
	/*width: 600px;*/
	width: 100%;
	height: 50px;
	font-size: 20px;
	color: #555;
	border-radius: 10px;
	border: 2px solid #876625;
	padding-left: 20px;
	margin-bottom: 10px;
	font-family: "Avenir";
}

select {
	background-color: #fff;
	background-image: url('../images/select.png');
	background-position: 97% 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-repeat: no-repeat;
}

textarea {
	min-width: 600px;
	max-width: 600px;
	min-height: 150px;
	max-height: 150px;
	font-size: 20px;
	color: #555;
	border-radius: 10px;
	padding-top: 10px;
	font-family: "Avenir";
	border: 2px solid #876625;
	padding-left: 20px;
	margin-bottom: 10px;
}

#preloader {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	background-color: #000;
}

#preloader-image {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	width: 200px;
	height: 200px;
	background-image: url(../images/loader.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200px 200px;
	-webkit-animation-name: animates;
	-webkit-animation-duration: 600ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: animates;
	-moz-animation-duration: 600ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: animates;
	-ms-animation-duration: 600ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	animation-name: animates;
	animation-duration: 600ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes animates {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		filter: brightness(100%);
	}
	50% {
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-o-transform: scale(1.3);
		transform: scale(1.3);
		filter: brightness(250%);
	}
	99% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		filter: brightness(100%);
	}
}

@keyframes animatesss {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.97);
		-moz-transform: scale(0.97);
		-o-transform: scale(0.97);
		transform: scale(0.97);
	}
	99% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes preloading {
	0% {
		background-image: url('../images/animation/1.png');
	}
	5% {
		background-image: url('../images/animation/2.png');
	}
	10% {
		background-image: url('../images/animation/3.png');
	}
	15% {
		background-image: url('../images/animation/4.png');
	}
	20% {
		background-image: url('../images/animation/5.png');
	}
	25% {
		background-image: url('../images/animation/6.png');
	}
	30% {
		background-image: url('../images/animation/7.png');
	}
	35% {
		background-image: url('../images/animation/8.png');
	}
	40% {
		background-image: url('../images/animation/9.png');
	}
	45% {
		background-image: url('../images/animation/10.png');
	}
	50% {
		background-image: url('../images/animation/11.png');
	}
	55% {
		background-image: url('../images/animation/12.png');
	}
	60% {
		background-image: url('../images/animation/13.png');
	}
	65% {
		background-image: url('../images/animation/14.png');
	}
	70% {
		background-image: url('../images/animation/15.png');
	}
	75% {
		background-image: url('../images/animation/16.png');
	}
	80% {
		background-image: url('../images/animation/17.png');
	}
	85% {
		background-image: url('../images/animation/18.png');
	}
	90% {
		background-image: url('../images/animation/19.png');
	}
	95% {
		background-image: url('../images/animation/20.png');
	}
}

.preload-anim {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	animation: preloading 2000ms infinite linear;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99990;
}

/* PAGE Styles */

video#bgvid {
	z-index: -1;
	opacity: 0.2;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

header {
	width: 100%;
}

.header-left {
	margin-top: 40px;
	width: 600px;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.header-left .social {
	margin-top: 99%;
}

body.inner .header-left .social {
	margin-top: 550px;
}

.header-left .langs, .header-left .social {
	display: block;
}

.header-left .langs a, .header-left .social a {
	opacity: 0.6;
	text-decoration: none;
}

.header-left .langs a:hover, .header-left .langs a.active, .header-left .social a:hover {
	opacity: 1;
}

.header-right {
	width: 630px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.logo {
	margin-top: 70px;
	text-align: center;
}

.logo a {
	display: inline-block;
	width: 621px;
	height: 104px;
	background: url(../images/logo.png) top center no-repeat;
}

.logo a:hover {
	-webkit-filter: brightness(130%);
	-moz-filter: brightness(130%);
	-ms-filter: brightness(130%);
	-o-filter: brightness(130%);
	filter: brightness(130%);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	background: url(../images/logo.png) top center no-repeat;
}

body.soon .logo {
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -394px;
}

body.soon .logo a {
	width: 789px;
	height: 132px;
	background: url(../images/logo-big.png) top center no-repeat;
}

body.soon .logo h1 {
	margin-top: -15px;
}

.menu {
	margin-top: 40px;
}

.menu a {
	display: inline-block;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ebd7a9;
	font-weight: 800;
	margin: 0 10px;
	text-shadow: 2px 1px 3px #000;
}

.menu a.active, .menu a:hover {
	color: #fbb527;
}

.menu a.active:after {
	background: none;
}

.menu a:after {
	display: block;
	content: "";
	height: 2px;
	width: 100%;
	background-color: #ebd7a9;
	transition: width .3s ease-in-out;
}

.menu a:focus:after, .menu a:hover:after {
	width: 0%;
	background-color: #fbb527;
}

.statuses {
	margin-top: 73px;
}

body.inner .statuses {
	margin-top: 40px;
}

.statuses .stat-2, .statuses .stat-1 {
	-webkit-animation-name: animatesss;
	-webkit-animation-duration: 2600ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: animatesss;
	-moz-animation-duration: 2600ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: animatesss;
	-ms-animation-duration: 2600ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	animation-name: animatesss;
	animation-duration: 2600ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	cursor: pointer;
	padding-top: 150px;
	width: 300px;
	display: inline-block;
	font-weight: 800;
	font-size: 36px;
	line-height: 1;
	text-shadow: 2px 1px 3px #000;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.statuses .stat-2.off, .statuses .stat-1.off {
	opacity: 0.5;
	cursor: default;
	animation-name: none;
}

.statuses .stat-2.off:hover, .statuses .stat-1.off:hover {
	transform: none;
	filter: none;
}

.statuses .stat-2:hover, .statuses .stat-1:hover {
	animation-name: none;
}

.statuses .stat-2 i, .statuses .stat-1 i {
	color: #fff;
	font-style: normal;
}

.statuses .stat-2 span, .statuses .stat-1 span {
	font-size: 24px;
	color: #f9b934;
}

.statuses .stat-2 {
	background: url('../images/serv-1.png') top center no-repeat;
}

.statuses .stat-1 {
	background: url('../images/serv-2.png') top center no-repeat;
}

.entercp {
	margin-top: 30px;
	font-size: 30px;
	font-weight: 400;
	text-shadow: 2px 1px 3px #000;
}

body.inner .entercp {
	margin-top: 40px;
}

.entercp a {
	display: inline-block;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fbb527;
	font-weight: 800;
	text-shadow: 2px 1px 3px #000;
}

.entercp a:after {
	display: block;
	content: "";
	height: 2px;
	width: 100%;
	background-color: #fbb527;
	transition: width .3s ease-in-out;
}

.entercp a:focus:after, .entercp a:hover:after {
	width: 0%;
	background-color: #ebd7a9;
}

.register {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.register a {
	display: inline-block;
	width: 624px;
	height: 89px;
	background: url('../images/reg-btn.png');
	color: #261700;
	font-family: "RussoOne";
	font-size: 48px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 89px;
	text-shadow: 1px 1px 0px #fff;
}

.register a:hover {
	-webkit-filter: brightness(150%);
	-moz-filter: brightness(150%);
	-ms-filter: brightness(150%);
	-o-filter: brightness(150%);
	filter: brightness(150%);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.news, .files {
	vertical-align: top;
	text-align: center;
}

h3.page-title {
	text-align: center;
	margin-bottom: 30px;
}

h3.page-title img {
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
	vertical-align: middle;
}

.files .morenws, .news .morenws {
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 10px;
}

.files .morenws a, .news .morenws a {
	width: 1212px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	border-radius: 15px;
	border: 2px solid #876625;
	color: #876625;
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: none;
}

.files .morenws a:hover, .news .morenws a:hover {
	background: #f9b934;
	border: 2px solid #f9b934;
	color: #fff;
	font-weight: 800;
}

.nws-in {
	padding: 20px 30px 10px;
}

.files .nws, .news .nws {
	width: 388px;
	margin: 10px;
	/*padding: 0 30px 10px 30px;*/
	background: rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-size: 14px;
}

.files .nws.files, .news .nws.files {
	text-align: center;
	padding-bottom: 30px;
}

.files .nws.files strong, .news .nws.files b {
	color: #fff;
	display: block;
	margin-bottom: 15px;
	font-size: 18px;
}

.files .nws img, .news .nws img {
	display: block;
	max-width: 100%;
	/*margin-left: -30px;*/
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.files .nws a, .news .nws a {
	font-family: "RussoOne";
	color: #f9b934;
	text-decoration: none;
	font-size: 24px;
	/*display: block;*/
	/*margin-top: 15px;*/
	/* margin-bottom: 15px;*/
	/*line-height: 1;*/
}

.files .nws a:hover, .news .nws a:hover {
	color: #fff;
}

.files .nws .more, .files .nws .date, .news .nws .more, .news .nws .date {
	display: inline-block;
}

.files .nws .date, .news .nws .date {
	float: right;
	font-size: 14px;
	font-weight: 400;
	color: #9a6018;
	background: url("../images/ico-date.png") left center no-repeat;
	padding-left: 18px;
	margin-top: 23px;
}

.files .nws.big, .news .nws.big {
	width: 595px;
	font-size: 16px;
}

.files .nws.big img, .news .nws.big img {
	width: 595px;
}

.files .nws.big a, .news .nws.big a {
	font-size: 30px;
}

.files .nws.big .date, .news .nws.big .date {
	font-size: 16px;
}

.files .nws.files a, .news .nws.files a {
	margin-top: -15px;
}

.files .nws.files img, .news .nws.files img {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 200px;
	height: 200px;
}

.news-detail .img-wrap {
	text-align: center;
	margin-bottom: 20px;
}

.news-detail .img-wrap img {
	display: inline-block;
}

.news-detail {}

.cabinet-nav-left-block {
	float: left;
	/* width: 23%; */
	margin: 10px;
	padding: 23px 30px 10px 30px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-size: 18px;
	line-height: 1.8;
}

.cabinet-nav-left-block a:hover {
	text-decoration: none;
	color: #fbb527;
}

.cabinet-content-right-block {
	float: right;
	width: 75%;
}

.block-row {}

.page-register .cont, .page-login .cont, .page-forgottenPassword .cont {
	text-align: center;
}

/*.page-title img {*/

/*display: block;*/

/*margin: 0 auto 40px;*/

/*}*/

a.form-btn {
	text-decoration: none;
}

.form-btn, .news .nws .more a, .button {
	padding: 10px 20px;
	background: #fff;
	border-radius: 10px;
	display: inline-block;
	background: linear-gradient(#fcdb4e, #ff5400);
	font-family: "Avenir";
	color: #241600;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 800;
	border: none;
	cursor: pointer;
}

.form-btn:hover, .news .nws .more a:hover, .button:hover {
	background: linear-gradient(#ff5400, #fcdb4e);
}

.form-btn, .button {
	font-size: 24px;
}

.cont {
	width: 100%;
	margin-top: 10px;
	padding: 30px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	display: block;
	vertical-align: top;
	text-align: left;
	font-size: 18px;
}

.forrank {
	width: 100%;
	min-height: 448px;
	background: url('../images/bg-forum.png') center center no-repeat;
}

.forrank .forum, .forrank .rank {
	width: 615px;
	text-align: center;
	vertical-align: top;
	display: inline-block;
}

.forrank .forum .name h3, .forrank .rank .name h3 {
	font-size: 36px;
}

.forrank .forum ul {
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 20px;
	text-align: left;
}

.forrank .forum ul li {
	display: block;
	padding: 12px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.forrank .forum ul li:hover {
	background: rgba(0, 0, 0, 0.3);
}

.forrank .forum ul li:last-child {
	border-bottom: none;
}

.forrank .forum ul li .img, .forrank .forum ul li .link, .forrank .forum ul li .date {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

.forrank .forum ul li .img {
	width: 45px;
	height: 45px;
	line-height: 48px;
	overflow: hidden;
	border-radius: 22px;
	border: 4px solid #f9b934;
	transition: border .5s;
}

.forrank .forum ul li img {
	display: inline-block;
	max-width: 150%;
	margin-left: -12px;
}

.forrank .forum ul li:hover .img {
	border-color: transparent;
}

.forrank .forum ul li .link a {
	font-size: 18px;
	font-weight: 800;
	color: #ffedc2;
	text-transform: uppercase;
	text-decoration: none;
}

.forrank .forum ul li:hover .link a {
	color: #f9b934;
}

.forrank .forum ul li .date {
	float: right;
	margin-top: 15px;
	background: url('../images/ico-date.png') center left no-repeat;
	padding-left: 18px;
	color: #bf761d;
	font-size: 14px;
	font-weight: 400;
}

.forrank .rank .half {
	margin-left: 20px;
	margin-right: 10px;
	width: 260px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.forrank .rank .half ul li {
	display: block;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.forrank .rank .half ul li:hover {
	transform: scale(1.05);
}

.forrank .rank .half ul li div {
	margin-right: 10px;
	line-height: 34px;
	display: inline-block;
	vertical-align: top;
}

.forrank .rank .half ul li .place {
	font-size: 16px;
	color: #3f2d18;
	font-weight: 400;
	min-width: 20px;
}

.forrank .rank .half ul li.ff .place {
	color: #6b4316;
	font-weight: 800;
}

.forrank .rank .half ul li .name {
	font-size: 20px;
	text-transform: uppercase;
	color: #ffedc2;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 150px;
}

.forrank .rank .half ul li.ff .name {
	font-weight: 800;
}

.forrank .rank .half ul li .point {
	font-size: 18px;
	color: #6e4c23;
	font-family: 'RussoOne';
	float: right;
}

.forrank .rank .half ul li.ff .point {
	color: #bf761d;
}

.forrank .rank .half ul li.hh div {
	text-transform: none;
	font-size: 12px;
	color: #bf761d;
	font-weight: 400;
}

.separator {
	background: url('../images/sep-content.png') center center no-repeat;
	width: 100%;
	min-height: 100px;
}

footer1 {
	padding-top: 20px;
	padding-bottom: 10px;
	opacity: 0.2;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	/* background: url("../images/bg-footer.jpg") bottom center no-repeat;*/
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	background: url('../images/bg-footer.jpg') bottom center no-repeat;
}

footer:hover {
	opacity: 1;
}

footer img {
	padding: 10px 0;
}

@-moz-document url-prefix() {
	h1, h2, h3, h4, h5, h6 {
		background: none;
		color: #ff8a00;
	}
	h1 {
		color: #ffc347;
	}
}

.alert {
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid transparent;
	display: inline-block;
	padding: 20px 30px;
	border-radius: 10px;
}

.alert>p {
	margin-bottom: 0;
}

.alert .close {
	display: none;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.form-horizontal {
	width: 600px;
	margin: 0 auto;
}

.page-cabinet .form-horizontal {
	width: 100%;
}

.page-cabinet textarea {
	min-width: 100%;
	max-width: 100%;
}

.page-cabinet .form-horizontal select {
	background-position: 98% 8px;
}

.form-group {}

.form-group .field {}

.form-group .help-block {}

.captcha {}

.captcha input {
	width: 76%;
	float: left;
}

.captcha .captcha-image {
	margin-left: auto;
	width: 120px;
	cursor: pointer;
	padding-top: 2px;
}

.captcha .captcha-image img {
	display: block;
	border-radius: 8px;
}

.table {
	margin-bottom: 20px;
	width: 100%;
}

.table>thead>tr {}

.table>thead>tr>th {
	background-color: #23190D;
	color: #cb9b3d;
}

.table>tbody>tr>td, .table>thead>tr>th {
	padding: 10px 20px;
	vertical-align: middle;
}

.table>tbody>tr {}

.table>tbody>tr:hover>td {
	background-color: #23190D;
}

.table>tbody>tr>td {
	background-color: #392713;
}

.table>thead>tr>th:first-child, .table>tbody>tr>td:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.table>thead>tr>th:last-child, .table>tbody>tr>td:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.cabinet-menu a {
	text-decoration: none;
}

.cabinet-menu .active a, .cabinet-menu li:hover a {
	text-decoration: underline;
}

.cabinet-menu .active a, .tabs>li.active a {
	text-decoration: none;
	color: #fbb527;
}

.tabs {
	font-size: 0;
	margin-bottom: 20px;
}

.tabs>li {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}

.tabs>li>a {
	font-size: 16px;
}

.status-online {
	color: #037503;
}

.status-offline {
	color: #a71e21;
}

.char-info {}

.char-info .name {
	margin-bottom: 0;
}

.char-info .class, .char-info .level {
	font-size: 13px;
}

.char-info .class {}

.char-info .level {}

.count-new-tickets {
	border-radius: 25px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: #238a3d;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	color: #ffffff;
}

.active-bonuses {}

.active-bonuses .title {
	margin-top: 30px;
	font-size: 30px;
}

.active-bonuses .table {
	margin-bottom: 0;
}

.active-bonuses .table .active>td {
	background-color: green;
}

.streamers {
	margin-bottom: 50px;
}

.streamers>ul {
	font-size: 0;
	text-align: center;
}

.streamers>ul>li {
	vertical-align: top;
	display: inline-block;
}

.streamers>ul>li p {
	background-color: rgba(0, 0, 0, .95);
	padding: 10px 0;
	font-size: 20px;
	margin: 0;
	font-family: 'RussoOne', sans-serif;
	color: #d57602;
	text-transform: uppercase;
}

.streamers>ul>li>iframe {
	width: 100%;
	height: 200px;
}

.tickets-view {}

.tickets-view .admin .text {
	background-color: rgba(107, 185, 120, 0.19);
	border-left: 3px solid rgba(75, 197, 122, 0.16);
}

.tickets-view .text {
	margin-top: 20px;
	border-radius: 5px;
	background-color: rgba(204, 204, 204, 0.19);
	padding: 20px 20px 20px 30px;
	border-left: 3px solid rgba(204, 204, 204, 0.16);
}

.bonus-items {}

.bonus-items form .buttons {
	font-size: 0;
}

.bonus-items form .buttons button, .bonus-items form .buttons select {
	display: inline-block;
	vertical-align: top;
}

.bonus-items form .buttons button {
	margin-bottom: 0;
	width: 60%;
}

.bonus-items form .buttons select {
	width: 35%;
	margin-left: 5%;
	margin-bottom: 0;
}

.nws-in p a {
	font-size: 16px !important;
	display: inline-block;
	font-weight: 100;
}

.btn-send {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: 20px;
}

.footer {
	padding-top: 20px;
	padding-bottom: 50px;
	opacity: 0.5;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4%;
	background-color: #130401;
	color: white;
	text-align: center;
	/* background: url("../images/bg-footer.jpg") bottom center no-repeat;*/
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	background: url('../images/bg-footer.jpg') bottom center no-repeat;
}

.modal-open {
	overflow: hidden
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0
}

.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%)
}

.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px
}

.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .9);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .9)
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000
}

.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0
}

.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .8
}

.modal-header {
	padding: 15px;
}

.modal-header .close {
	margin-top: -2px
}

.modal-title {
	margin: 0;
	text-align: center;
	line-height: 1.12857143
}

.modal-body {
	position: relative;
	padding: 15px
}

.modal-footer {
	padding: 15px;
	text-align: right;
}

.modal-footer .btn+.btn {
	margin-bottom: 0;
	margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
	margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
	margin-left: 0
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll
}

@media (min-width:768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto
	}
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
	}
	.modal-sm {
		width: 300px
	}
}

@media (min-width:992px) {
	.modal-lg {
		width: 900px
	}
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #ffffff;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2
}

.close:focus, .close:hover {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0
}

.form {
	width: 600px;
	float: right;
	margin-top: 60px;
	margin-left: auto;
	margin-right: 20px;
}

.info {
	margin-top: 30px;
	font-size: 30px;
	font-weight: 400;
	text-shadow: 2px 1px 3px #000;
}
.info .message {
	display: inline-block;
	width: 100%;
	line-height: 1.4;
	overflow: hidden;
	padding: 20px;
	background: url(../images/sep.png) center right no-repeat;
	background-size: contain;
	border-radius: 5px;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}

.info a {
	display: inline-block;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fbb527;
	font-weight: 800;
	text-shadow: 2px 1px 3px #000;
}

.info a:after {
	display: block;
	content: "";
	height: 2px;
	width: 200px;
	background-color: #fbb527;
	transition: width .3s ease-in-out;
}

.info a:focus:after, .info a:hover:after {
	width: 0%;
	background-color: #ebd7a9;
}

.info .message:last-child {
	background: 0 0
}
.info .message:hover {
	background: url(../images/sep.png) center right no-repeat rgba(230, 169, 68, .1);
	background-size: contain
}
.info .message:last-child:hover {
	background: rgba(230, 169, 68, .1)
}

.info .message a {
	display: block;
	white-space: nowrap;
	font-size: 18px;
	color: #e6a944
}
.info .message a:hover {
	color: #fff
}